.assessment__text {
  @include font-set(14px, 24px, 700);
  margin: 6px 0 7px 5px;

  @media (min-width: $tablet-width) {
    margin: -2px 11px 0 0;
  }

  &--big {
    margin: 6px 0 7px 5px;

    @media (min-width: $tablet-width) {
      margin: 3px 20px 9px -8px;
    }
  }
}

.assessment__button {
  @include button-throw;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
    margin-bottom: 4px;
  }
}

.assessment__like-icon {
  fill: #b2b2b2;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}
