.assessment__text {
  @include font-set(14px, 24px, 700);
  margin: 6px 0 7px 5px;

  @media (min-width: $tablet-width) {
    position: relative;
    right: 13px;
    top: -2px;
    margin: 0;
  }

  &--big {

    @media (min-width: $tablet-width) {
      position: relative;
      right: 20px;
    }
  }

  &--big .assessment__text {
    margin: 6px 0 7px -8px;
  }
}

.assessment__button {
  @include button-throw;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
    margin-top: -8px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 21px;
    margin-bottom: 9px;
  }
}

.assessment__like-icon {
  fill: #b2b2b2;

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}
