.no-js {
  .site-list {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  .page-header__menu-button {
    display: none;
  }

  .main-nav__close {
    display: none;
  }
}
