.review__form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  margin: 0 auto;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.review__form__page-wrapper {
  @include list-reset;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
}
