@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin font-set($size, $line-height, $weight:null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin button-throw {
  border: 0;
  padding: 0;
  background-color: transparent;
}
