$tablet-width: 768px;
$desktop-width: 1200px;
$primary-color: #81b3d2;
$white: #ffffff;
$black: #000000;
$secondary-color: #f2f2f2;
$grey: #333333;
$font-size: 14px;
$font-primary: "PT Sans", "arial", sans-serif;
$border-top: #678fa8;
$form-img: #e6e6e6;
$border-bottom: #9ac2db;
$brown: #766357;
$hover-brown: #634f44;
$active-brown: #e1e0de;
$grey-dark: #b2b2b2;
$hover-blue: #669ec0;
$active-blue: #5496bd;
$control-button: #5c6870;
$bg-color-intro: #8a7272;
$grey-active: #d5d5d5;
$retina-dppx: 1.5dppx;
